@import url(reset.css);

.nav {
    border-bottom: 0.1px solid #ccc;
}

.nav_container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 270px;
    font-family: 'Kanit', sans-serif;

}

.logo_text_bold {
    font-weight: bold;
    margin-right: 3px;
}

.nav_logo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.nav_logo {
    color: black;
    text-decoration: none;
}

.nav_logo_img {
    height: 29px;
    margin-right: -1px;
}

.nav_content_wrap {
    padding-right: 10px;
}

.nav_content_wrap ul {
    font-size: 15px;
    display: flex;
    gap: 30px;
}

.nav_item:nth-child(3) a {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #3182F6;
    color: white;
}


.nav_item a {
    text-decoration: none;
    color: #777;
}